Body {
	padding: 0;
	margin: 0;
	font-family: Arial, Veranda, Serif; 
	background-color: #f5f2f2;
}

div.maindiv {
	position: absolute;
	width: 75%;
	left:13%;
}
/* index.html */

span#contspan {
	left:10%;
	top: 100px;
    width: 50%;
    height: 100%;
	display: flow-root;
    position: relative;
}

div.left-tile {
	position: relative;
	left: 20%;
	background-color: #670f94;
	transform: skew(-20deg);
	height: 50px;
	width: 100%;
    vertical-align: middle;
	text-align: center;
	line-height: 50px;
	margin: 10px;
	text-decoration: none;
	color: white;
	font-size: 22px;
}

div.right-tile {
	position: relative;
	left: 30%;
	text-align: center;
	background-color: #670f94;
	transform: skew(-20deg);
	height: 50px;
	width: 100%;
    vertical-align: middle;
	text-align: center;
	line-height: 50px;
	margin: 10px;
    text-decoration: none;
	color: white;
	font-size: 22px;
}

div.right-tile a{

}

div.left-tile a{
	text-decoration: none;
	color: white;
	font-size: 22px;
}

div.left-tile:Hover {
	opacity: 0.6;
}

div.right-tile:Hover {
	opacity: 0.6;
}

/* about.html */

div#aboutbodydiv {
	margin-top: 5%;
}

div#divleft {
    float: left;
	z-index: 0;
}

div#divright {
	float: left;
}

/*Interest in IT*/

	